<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Stats Visual</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

        body {
            font-family: "JetBrains Mono";
            background-color: #282c34;
            color: white;
        }
        .container {
            margin-top: 20px;
        }
        .stat {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">System Statistics</h1>
        <div id="cpu-info" class="stat"></div>
        <div id="memory-stats" class="stat"></div>
    </div>

    <script>
        function fetchStats() {
            fetch('/stats')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('cpu-info').innerHTML = `
                        <h2>CPU Info</h2>
                        <p>-> Cores: ${data.cpu_info.cpu_cores}</p>
                        <p>-> CPU Usage: ${data.cpu_info.cpu_usage_percent}%</p>
                    `;

                    document.getElementById('memory-stats').innerHTML = `
                        <h2>Memory Stats</h2>
                        <p>-> Total Memory: ${data.memory_stats.total_memory} MB</p>
                        <p>-> Used Memory: ${data.memory_stats.used_memory} MB</p>
                        <p>-> Available Memory: ${data.memory_stats.available_memory} MB</p>
                    `;
                });
        }

        fetchStats();
        setInterval(fetchStats, 1000);
    </script>
</body>
</html>
